*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card{
    width: 60%;
    box-shadow: 5px 5px 21px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 21px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 21px 3px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.card_left > span{
    font-weight: 400;

}

.card_left > h1{
    margin-top: 15px;
    font-size: 25px;
}

.card_left > p{
    color: rgb(70, 70, 70);
}

.card_right > img{
    width: 180px;
    height: 250px;
}